.containerGift {
    position: relative;
    width: 87%;
    height: 200px;
    cursor: grab;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 50px;
}

.containerGift::-webkit-scrollbar {
    display: none;
}

.cards {
    position: absolute;
    display: grid;
    height: 200px;
    grid-template-columns: repeat(17, 160px);
    grid-gap: 5px;
    pointer-events: none;
    overflow-x: auto;
    overflow-y: hidden;
}

.card {
    border: 0px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 11px 1px 8px -12px rgba(0, 0, 0, 0.18);
    overflow-x: hidden;
    overflow-y: auto;
}